body {
	padding: 0;
	margin: 0;
}
#box {
	display: flex;
	flex: 1;
	background-color: #eee;
	height: 100vh;
}
#one {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #2196F3;
	justify-content: center;
	align-items: center;
} 
#one form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #004fac;
	font-weight: bold;
}
#one form input {
	border-radius: 13px;
    width: 220px;
    padding: 10px;
    transform: skew(0, -3.5deg);
    border: 3px solid #004fac;
    transform-origin: top right;
    outline: none;
}
#enviar {
	background-color: #004fac;
	color: #fff;
	font-weight: bold;

}
#two {
	flex: 1;
	background-image: url('image.jpg');
	background-size: cover;
}
#back {
	
	height: 100vh;
	background-image: linear-gradient(to left, #004facd4, #2196F3);
}

@media (max-width: 500px) {
	#two {
		display: none;
	}
}